.createCourse {
	min-height: calc(100vh - 110px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 150px 30px 150px;
	width: 1104px;
}

.createCourseTitle {
	font-size: 32px;
	font-weight: 700;
}

.createCourseContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #cfcfcf;
	background-color: white;
	width: 100%;
	margin-bottom: 30px;
}

.createCourseForm {
	display: flex;
	flex-direction: column;
	padding: 60px;
	padding-top: 30px;
}

.inputForm {
	margin-bottom: 20px;
}

.inputFormSmall {
	width: 400px;
}

.buttonForm {
	text-transform: uppercase;
}

.auhtorsContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.authors {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.buttonAuthors {
	width: 185px;
	text-transform: uppercase;
}

.authorsList {
	max-width: 200px;
}

.errorAuthor {
	position: absolute;
	color: red;
	font-size: 14px;
	bottom: 0px;
}

.buttonsCreate {
	display: flex;
	flex-direction: row;
}

.buttonFormCreate {
	width: 185px;
	text-transform: uppercase;
}

.lastButton {
	margin-left: 20px;
}
