.courseInfo {
	min-height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 150px;
	width: 1122px;
}

@media only screen and (max-width: 900px) {
	.courseInfo {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.courseTitle {
	margin-bottom: 0px;
}

.courseCard {
	border: 1px solid #0000001f;
	border-radius: 4px;
	background: #ffffff;
	box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.25);
	padding: 20px;
	margin: 20px 0;
}

.cardBody {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.courseDetails {
	flex: 1;
	margin-right: 20px;
}

.courseActions {
	width: 30%;
	padding-left: 20px;
	border-left: 1px solid rgba(207, 207, 207, 1);
}

.cardTextEllipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cardButton {
	text-transform: uppercase;
	margin-top: 20px;
	width: 180px;
	float: right;
}

.notFound {
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 80px);
}
