.card {
	border: 1px solid #0000001f;
	border-radius: 4px;
	border-left: 7px solid black;
	background: #ffffff;
	box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.25);
	padding: 20px;
	margin: 15px 0;
}

.cardBody {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.courseDetails {
	flex: 1;
	margin-right: 20px;
}

.courseActions {
	width: 40%;
}

.cardText {
	margin: 0;
}

.cardTextEllipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cardButtonCoitainer {
	display: flex;
	flex-wrap: wrap;
}

.cardButton {
	margin-top: 30px;
	width: 180px;

	text-transform: uppercase;
}

.cardButtonSmallContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.cardButtonSmall {
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	margin-left: 10px;
	width: 60px;
	display: flex;
}
