.input {
	height: 30px;
	border: 1px solid rgba(207, 207, 207, 1);
	padding: 10px;
	margin-top: 4px;
	margin-bottom: 0px;
	margin-right: 15px;
}

.inputError {
	border-color: red;
}

.inputContainer {
	display: flex;
	flex-direction: column;
  position: relative;

}

.labelText {
	font-size: 14px;
	font-weight: 700;
}

.error {
  position: absolute;
  color: red;
  font-size: 14px;
  bottom: -20px; 
}