.button {
	border-radius: 5px;
	border: none;
  background-color: #007298;
	color: white;
  width: 140px;
  height: 50px;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;

  cursor: pointer; 
}

.button:active {
  cursor: progress; 
}