.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 0 30px;
	box-sizing: border-box;
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 1;
}

.userName {
	font-size: 20px;
	font-weight: 700;

	margin-right: 20px;
}

.loginContainer {
	display: flex;
	align-items: center;
}

.loginButton {
	text-transform: uppercase;
}
