.course {
  min-height: calc(100vh - 110px); 
  display: flex;
  flex-direction: column;
	margin: 30px 150px 0px 150px;
	width: 1122px;
}
 
@media only screen and (max-width: 900px) {
  .course {
		margin-left: 10px;
		margin-right: 10px;
  }
}

.searchContainer {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
	margin: 15px 0;
}

.addCourseButton {
	width: 183px;
	text-transform: uppercase;
}

