.login {
	min-height: calc(100vh - 80px); 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 150px;
}

@media only screen and (max-width: 900px) {
  .login {
		margin-left: 10px;
		margin-right: 10px;
  }
}

.loginTitle {
	font-size: 30px;
}

.loginContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #CFCFCF;
	background-color: white;
	width: 585px;
	height: 477px;

}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.inputForm {
  margin-bottom: 30px;
}

.buttonForm {
  width: 280px;
	text-transform: uppercase;
}

.registration {
  margin-top: 20px;
  text-align: center;
}

.registration strong {
	cursor: pointer;
	text-decoration: none; 
	color: black;
}
a, strong {
  text-decoration: none;
}

.registration strong:hover {
	text-decoration: underline;
}