.searchBar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-color: white;
	width: 400px;
}

.searchInput {
	display: flex;
	flex-wrap: nowrap;
	height: 26px;
	flex-grow: 1;
	width: 100%;
	color: rgb(206, 206, 206);
	margin-right: 10px;
	padding: 10px;
}

.searchButton {
	width: 148px;
	text-transform: uppercase;
}
