.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
  text-align: center;
}

.emptyButton {
	width: 233px;
	margin-top: 40px;
	text-transform: uppercase;
}

.emptyText {
	margin: 0px;
}