.registration {
	min-height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 150px;
}

@media only screen and (max-width: 900px) {
	.registration {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.registrationTitle {
	font-size: 30px;
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #cfcfcf;
	background-color: white;
	width: 585px;
	height: 558px;
}

.registrationForm {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 0 auto;
}

.inputForm {
	margin-bottom: 30px;
}

.buttonForm {
	width: 280px;
	text-transform: uppercase;
}

.link {
	margin-top: 20px;
	text-align: center;
}

.link strong {
	cursor: pointer;
	text-decoration: none;
	color: black;
}
a,
strong {
	text-decoration: none;
}

.link strong:hover {
	text-decoration: underline;
}
